<p style="color: green"><%= notice %></p>

<h1>Generations</h1>

<div id="generations">
  <% @generations.each do |generation| %>
      <h2><%= link_to generation.name, generation %></h2>
  <% end %>
</div>
