<p style="color: green"><%= notice %></p>

<h1>Abilities</h1>

<div id="abilities">
  <% @abilities.each do |ability| %>
    <h4><%= link_to ability.name, ability %></h4>
  <% end %>
</div>

<%= paginate @abilities %>

