<h1>About</h1>
<div>
  <p>In this website, I am using the Pokemon API. The endpoints I am using are:</p>
  <ul>
    <li><a href="https://pokeapi.co/api/v2/pokemon">Pokemon</a></li>
    <li><a href="https://pokeapi.co/api/v2/type">Type</a></li>
    <li><a href="https://pokeapi.co/api/v2/moves">Move</a></li>
    <li><a href="https://pokeapi.co/api/v2/ability">Ability</a></li>
    <li><a href="https://pokeapi.co/api/v2/generation">Generation</a></li>
  </ul>
  <p>There will be a many-to-many relationships between pokemon-types, pokemon-abilities, and pokemon-moves</p>
  <p>There will be one-to-many relationships between move-types, move-generations, and pokemon-generations</p>
  <p>The ERD below explains in further detail how the tables relate and the columns required</p>
</div>
<%= image_tag("PokemonERD.png", :width =>"100%", :alt => "ERD" )%>